1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'
file = open('test.txt', 'w')
file.write(test1)
file.close()

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
file = open('test.txt', 'r')
test2 = file.read()
file.close()
print(test2)

This is a test of the emergency text system,

3. Create a CSV file called books.csv by using these lines:
<p>
title,author,year</br>
The Weirdstone of Brisingamen,Alan Garner,1960</br>
Perdido Street Station,China Miéville,2000</br>
Thud!,Terry Pratchett,2005</br>
The Spellman Files,Lisa Lutz,2007</br>
Small Gods,Terry Pratchett,1992</br>
</p>

In [3]:
data = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''
file = open('books.csv', 'w')
file.write(data)
file.close()

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3

connection = sqlite3.connect('books.db')
cursor = connection.cursor()
cursor.execute("CREATE Table books(title TEXT, author TEXT, year INTEGER)")
connection.commit()
connection.close()

5. Read books.csv and insert its data into the book table.

In [5]:
import sqlite3
import csv
connection = sqlite3.connect('books.db')
cursor = connection.cursor()
with open('books.csv', 'r') as data:
    books = csv.DictReader(data)
    for book in books:
        cursor.execute("INSERT INTO books VALUES(?,?,?)", (book['title'], book['author'], book['year']))
connection.commit()
connection.close()

6. Select and print the title column from the book table in alphabetical order.

In [6]:
connection = sqlite3.connect('books.db')
cursor = connection.cursor()
result = cursor.execute('SELECT title from books ORDER BY title ASC')
for data in result:
    print(data[0])
connection.commit()
connection.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7. From the book table, select and print all columns in the order of publication.

In [7]:
connection = sqlite3.connect('books.db')
cursor = connection.cursor()
result = cursor.execute('SELECT * from books ORDER BY year')
for data in result:
    print(data)
connection.commit()
connection.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [8]:
!pip3 install sqlalchemy

Requirement already satisfied: sqlalchemy in /home/venkatesh/.local/lib/python3.9/site-packages (1.4.31)
Requirement already satisfied: greenlet!=0.4.17 in /home/venkatesh/.local/lib/python3.9/site-packages (from sqlalchemy) (1.1.2)

In [9]:
import sqlalchemy
connection = sqlalchemy.create_engine('sqlite:///books.db')
connection

Engine(sqlite:///books.db)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [10]:
! python3 -m pip install redis

Requirement already satisfied: redis in /home/venkatesh/.local/lib/python3.9/site-packages (4.1.3)
Requirement already satisfied: packaging>=20.4 in /usr/lib/python3/dist-packages (from redis) (20.9)
Requirement already satisfied: deprecated>=1.2.3 in /home/venkatesh/.local/lib/python3.9/site-packages (from redis) (1.2.13)
Requirement already satisfied: wrapt<2,>=1.10 in /home/venkatesh/.local/lib/python3.9/site-packages (from deprecated>=1.2.3->redis) (1.13.3)

In [11]:
import redis
import redis
conn = redis.Redis('localhost')

test = {"Name":"Fester Bestertester", 'count':1}

conn.hset("test", 'Name',"Fester Bestertester")
conn.hset("test", "count", 1)

print('Test: ',conn.hgetall('test'))
conn.hmset('test2', test)
print("Test2: ",conn.hgetall('test2'))

Test:  {b'Name': b'Fester Bestertester', b'count': b'1'}
Test2:  {b'Name': b'Fester Bestertester', b'count': b'1'}

<ipython-input-11-d0608032521a>:11: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  conn.hmset('test2', test)

10. Increment the count field of test and print it.

In [12]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')

b'2'