1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [ ]:
#Answer
years_list = []
YOB = int(input("Please Enter Year of Birth."))

for year in range(YOB, YOB+6):
    years_list.append(year)
print(years_list)

Please Enter Year of Birth.1980
[1980, 1981, 1982, 1983, 1984, 1985]


2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [ ]:
'''
Answer:
1982 was my 3rd birthday.
years_list[2] -->Way to Access my third irthday from the List
'''

'\nAnswer:\n1982 was my 3rd birthday.\nyears_list[2] -->Way to Access my third irthday from the List\n'

3. In the years list, which year were you the oldest?

In [ ]:
'''
Answer:
in the fifth year I am the oldest which can be accessed by --> years_list[-1] or years_list[5]
'''

'\nAnswer:\nin the fifth year I am the oldest which can be accessed by --> years_list[-1] or years_list[5]\n'

4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [ ]:
#Answer
things = ["mozzarella", "cinderella", "salmonella"]

5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [ ]:
#Answer
for thing in things:
    print(thing.capitalize())
print(things)
#No, it won't changes the elements of the list

Mozzarella
Cinderella
Salmonella
['mozzarella', 'cinderella', 'salmonella']

6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [ ]:
#Answer
surprise = ["Groucho" ,"Chico", "Harpo"]

7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [ ]:
#Answer
surprise[-1] = surprise[-1].lower() #Lowering the last element
print(surprise[-1][::-1].capitalize()) #Reversing and capitalizing the last element.
print(surprise)

Oprah
['Groucho', 'Chico', 'harpo']

8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [ ]:
#Answer
e2f = {'dog':'chien', 'cat':'chat', 'walrus':'morse'}

9. Write the French word for walrus in your three-word dictionary e2f.

In [ ]:
#Answer
print(e2f.get('walrus'))
print(e2f['walrus'])

morse
morse

10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [ ]:
#Answer
f2e = dict([element[::-1] for element in e2f.items()])
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

11. Print the English version of the French word chien using f2e.

In [ ]:
#Answer
print(f2e['chien'])

dog

12. Make and print a set of English words from the keys in e2f.

In [ ]:
#Answer
print(list(e2f.keys()))

['dog', 'cat', 'walrus']

13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [ ]:
#Answer
life = {'animals':{'cats':['Henry', 'Grumpy', 'Lucy'], 'octopi':{}, 'emus':{}}, 'plants':{}, 'other':{}}
print(life)

{'animals': {'cats': ['Henry', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

14. Print the top-level keys of life.

In [ ]:
#Answer
print(list(life.keys()))

['animals', 'plants', 'other']

15. Print the keys for life['animals'].

In [ ]:
#Answer
print(list(life['animals'].keys()))

['cats', 'octopi', 'emus']

16. Print the values for life['animals']['cats']

In [ ]:
#Answer
print((life['animals']['cats']))

['Henry', 'Grumpy', 'Lucy']