Question1</br>
Write a function that takes a list and a number as arguments. Add the number to </br>the end of the list, then remove the first element of the list. The </br>function should then return the updated list.</br>
Examples</br>
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]</br>

next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]</br>

next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]</br>

next_in_line([], 6) ➞ "No list has been selected"</br>

In [2]:
def next_in_line(list_values, number):
    if list_values == []:
        return "No list has been selected."
    else:
        del list_values[0]
        list_values.append(number)
        return list_values

print(f' [5, 6, 7, 8, 9], 1 --> {next_in_line([5, 6, 7, 8, 9], 1) }')
print(f' [7, 6, 3, 23, 17], 10 --> {next_in_line([7, 6, 3, 23, 17], 10)}')
print(f' [1, 10, 20, 42 ], 6 {next_in_line([1, 10, 20, 42 ], 6)}')
print(f' [], 6  --> {next_in_line([], 6)}')

 [5, 6, 7, 8, 9], 1 --> [6, 7, 8, 9, 1]
 [7, 6, 3, 23, 17], 10 --> [6, 3, 23, 17, 10]
 [1, 10, 20, 42 ], 6 [10, 20, 42, 6]
 [], 6  --> No list has been selected.

Question2</br>
Create the function that takes a list of dictionaries and returns the sum of </br>people's budgets.</br>
Examples</br>
get_budgets([</br>
  { "name": "John", "age": 21, "budget": 23000 },</br>
  { "name": "Steve",  "age": 32, "budget": 40000 },</br>
  { "name": "Martin",  "age": 16, "budget": 2700 }</br>
]) ➞ 65700</br>

get_budgets([</br>
  { "name": "John",  "age": 21, "budget": 29000 },</br>
  { "name": "Steve",  "age": 32, "budget": 32000 },</br>
  { "name": "Martin",  "age": 16, "budget": 1600 }</br>
]) ➞ 62600</br>

In [8]:
def get_budgets(dict_values):
    sum = 0
    for i in dict_values:
        sum+=i["budget"]
    return sum

dict_1 = [
{ "name": "John", "age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 },
{ "name": "Martin", "age": 16, "budget": 2700 }
]
dict_2 = [
{ "name": "John", "age": 21, "budget": 29000 },
{ "name": "Steve", "age": 32, "budget": 32000 },
{ "name": "Martin", "age": 16, "budget": 1600 }
]
print(f'Budget of dict 1 {get_budgets(dict_1)}')
print(f'Budget of dict 2 {get_budgets(dict_2)}' )

Budget of dict 1 65700
Budget of dict 2 62600

Question3</br>
Create a function that takes a string and returns a string with its letters in </br>alphabetical order.</br>
Examples</br>
alphabet_soup("hello") ➞ "ehllo"</br>

alphabet_soup("edabit") ➞ "abdeit"</br>

alphabet_soup("hacker") ➞ "acehkr"</br>

alphabet_soup("geek") ➞ "eegk"</br>

alphabet_soup("javascript") ➞ "aacijprstv"</br>

In [10]:
def alphabet_soup(string_data):
    return "".join(sorted(string_data))

print(f'hello --> {alphabet_soup("hello")}')
print(f'edabit --> {alphabet_soup("edabit")}')
print(f'hacker--> {alphabet_soup("hacker")}')
print(f'geek --> {alphabet_soup("geek")}')
print(f'javascript--> {alphabet_soup("javascript") }')

hello --> ehllo
edabit --> abdeit
hacker--> acehkr
geek --> eegk
javascript--> aacijprstv

Question4</br>
Suppose that you invest $10,000 for 10 years at an interest rate of 6% </br>compounded monthly. What will be the value of your investment at the end of the 10 year period?</br>
Create a function that accepts the principal p, the term in years t, the </br>interest rate r, and the number of compounding periods per year n. The </br>function returns the value at the end of term rounded to the nearest cent.</br>
For the example above:</br>
compound_interest(10000, 10, 0.06, 12) ➞ 18193.97</br>
Note that the interest rate is given as a decimal and n=12 because with monthly</br> compounding there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or daily.</br>
Examples</br>
compound_interest(100, 1, 0.05, 1) ➞ 105.0</br>

compound_interest(3500, 15, 0.1, 4) ➞ 15399.26</br>

compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26</br>

In [11]:
def compound_interest(principal, term, interest_rate , years):
    ci = principal* (1 + (interest_rate/years))**(years*term)
    return round(ci, 2)

print(f'  compound_interest(100, 1, 0.05, 1) => {compound_interest(100, 1, 0.05, 1)}')
print(f'  compound_interest(3500, 15, 0.1, 4)=> {compound_interest(3500, 15, 0.1, 4)}')
print(f'  compound_interest(100000, 20, 0.15, 365)=>{compound_interest(100000, 20, 0.15, 365)}')

  compound_interest(100, 1, 0.05, 1) => 105.0
  compound_interest(3500, 15, 0.1, 4)=> 15399.26
  compound_interest(100000, 20, 0.15, 365)=>2007316.26

Question5</br>
Write a function that takes a list of elements and returns only the integers.
Examples</br>
return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [9, 2, 16]</br>

return_only_integer(["hello", 81, "basketball", 123, "fox"]) ➞ [81, 123]</br>

return_only_integer([10, "121", 56, 20, "car", 3, "lion"]) ➞ [10, 56, 20, 3]</br>

return_only_integer(["String",  True,  3.3,  1]) ➞ [1]
</br>

In [13]:
def return_only_integer(list_values):
    integer_list = []
    for i in list_values:
        if type(i) == int:
            integer_list.append(int(i))
    return integer_list

print(f' [9, 2, "space", "car", "lion", 16] => {return_only_integer([9, 2, "space", "car", "lion", 16])}')
print(f' ["hello", 81, "basketball", 123, "fox"] => {return_only_integer(["hello", 81, "basketball", 123, "fox"])}')
print(f' [10, "121", 56, 20, "car", 3, "lion"] => {return_only_integer([10, "121", 56, 20, "car", 3, "lion"])}')
print(f' ["String", True, 3.3, 1] => {return_only_integer(["String", True, 3.3, 1])}')

 [9, 2, "space", "car", "lion", 16] => [9, 2, 16]
 ["hello", 81, "basketball", 123, "fox"] => [81, 123]
 [10, "121", 56, 20, "car", 3, "lion"] => [10, 56, 20, 3]
 ["String", True, 3.3, 1] => [1]