<p>Question 1</br>
Create a function that takes a list of non-negative integers and strings and </br>return a new list without the strings.</br>
Examples</br>
filter_list([1, 2, "a", "b"]) ➞ [1, 2]</br>

filter_list([1, "a", "b", 0, 15]) ➞ [1, 0, 15]</br>

filter_list([1, 2, "aasf", "1", "123", 123]) ➞ [1, 2, 123]</br>

In [4]:
def filter_list(list_data):
    new_list=[]
    for i in list_data:
        if type(i) == int and i >= 0 :
            new_list.append(i)
    return new_list
print(f'filter_list([1, 2, "a", "b"]) ==> {filter_list([1, 2, "a", "b"])}')
print(f'filter_list([1, "a", "b", 0, 15])==> {filter_list([1, "a", "b", 0, 15])}')
print(f'filter_list([1, 2, "aasf", "1", "123", 123])==> {filter_list([1, 2, "aasf", "1", "123", 123])}')

filter_list([1, 2, "a", "b"]) ==> [1, 2]
filter_list([1, "a", "b", 0, 15])==> [1, 0, 15]
filter_list([1, 2, "aasf", "1", "123", 123])==> [1, 2, 123]

Question 2</br>
The "Reverser" takes a string as input and returns that string in reverse order, with the opposite case.
Examples
reverse("Hello World") ➞ "DLROw OLLEh"

reverse("ReVeRsE") ➞ "eSrEvEr"

reverse("Radar") ➞ "RADAr"

In [6]:
def reverse(string_data):
    new_string = ""
    for i in string_data[::-1]:
        if i.isupper():
            new_string+=i.lower()
        if i.islower():
            new_string+=i.upper()
    return new_string

print(f'{reverse("ReVeRsE")}')
print(f'{reverse("Radar")}')

eSrEvEr
RADAr

Question 3
<p>You can assign variables from lists like this:</br>
lst = [1, 2, 3, 4, 5, 6]</br>
first = lst[0]</br>
middle = lst[1:-1]</br>
last = lst[-1]</br>

print(first) ➞ outputs 1</br>
print(middle) ➞ outputs [2, 3, 4, 5]</br>
print(last) ➞ outputs 6</br>
With Python 3, you can assign variables from lists in a much more succinct way.</br> Create variables first, middle and last from the given list using destructuring </br>assignment (check the Resources tab for some examples), where:</br>
first  ➞ 1</br>

middle ➞ [2, 3, 4, 5]</br>

last ➞ 6</br>
Your task is to unpack the list write yourcode here into three variables, being </br>first, middle, and last, with middle being everything in between the first and </br>last element. Then print all three variables.</br>
</p>

In [9]:
def first_middle_last(list_data):
    first = list_data[0]
    middle = list_data[1:-1]
    last = list_data[-1]
    return first, middle, last

result = first_middle_last([1, 2, 3, 4, 5, 6])
print(f'first ==> {result[0]} ')
print(f'middle ==> {result[1]} ')
print(f'Last ==> {result[2]}')

first ==> 1
middle ==> [2, 3, 4, 5]
Last ==> 6

Question 4</br>
Write a function that calculates the factorial of a number recursively.
Examples
factorial(5) ➞ 120

factorial(3) ➞ 6

factorial(1) ➞ 1

factorial(0) ➞ 1

In [10]:
def factorial(data):
    if data == 1 or data == 0:
        return 1
    else:
        return data * factorial(data-1)
print(f' factorial(5)=>{factorial(5)}')
print(f' factorial(3)=>{factorial(3)}')
print(f' factorial(2)=>{factorial(2)}')
print(f' factorial(1)=>{factorial(1)}')

 factorial(5)=>120
 factorial(3)=>6
 factorial(2)=>2
 factorial(1)=>1

<p>Question 5</br>
Write a function that moves all elements of one type to the end of the list.</br>
Examples</br>
move_to_end([1, 3, 2, 4, 4, 1], 1) ➞ [3, 2, 4, 4, 1, 1]</br>
#### Move all the 1s to the end of the array.</br>

move_to_end([7, 8, 9, 1, 2, 3, 4], 9) ➞ [7, 8, 1, 2, 3, 4, 9]</br>

move_to_end(["a", "a", "a", "b"], "a") ➞ ["b", "a", "a", "a"]</br>

In [13]:
def move_to_end(list_data, value):
    same_type = []
    new_list = []
    for i in list_data:
        if i == value:
            same_type.append(i)
        else:
            new_list.append(i)
    return new_list+same_type

print(f' ([1, 3, 2, 4, 4, 1], 1)==> {move_to_end([1, 3, 2, 4, 4, 1], 1)}')
print(f' ([7, 8, 9, 1, 2, 3, 4], 9)==> {move_to_end([7, 8, 9, 1, 2, 3, 4], 9)}')
print(f' ["a", "a", "a", "b"], "a")==> {move_to_end(["a", "a", "a", "b"], "a")}')

 ([1, 3, 2, 4, 4, 1], 1)==> [3, 2, 4, 4, 1, 1]
 ([7, 8, 9, 1, 2, 3, 4], 9)==> [7, 8, 1, 2, 3, 4, 9]
 ["a", "a", "a", "b"], "a")==> ['b', 'a', 'a', 'a']