Question 1</br>
Create a function that takes a number as an argument and returns True or False </br>depending on whether the number is symmetrical or not. A number is</br> symmetrical when it is the same as its reverse.</br>
Examples</br>
is_symmetrical(7227) ➞ True</br>

is_symmetrical(12567) ➞ False</br>

is_symmetrical(44444444) ➞ True</br>

is_symmetrical(9939) ➞ False</br>

is_symmetrical(1112111) ➞ True</br>

In [5]:
def is_symmetrical(number):
    number = str(number)
    if number == number[::-1]:
        return True
    else:
        return False


print(f"7227 : {is_symmetrical(7227)}")
print(f"12567 :{is_symmetrical(12567)}")
print(f"44444444 :{is_symmetrical(44444444)}")
print(f"9939 : {is_symmetrical(9939)}")
print(f"1112111 : {is_symmetrical(1112111)}")

7227 : True
12567 :False
44444444 :True
9939 : False
1112111 : True

Question 2</br>
Given a string of numbers separated by a comma and space, return the product of the numbers.</br>
Examples</br>
multiply_nums("2, 3") ➞ 6</br>

multiply_nums("1, 2, 3, 4") ➞ 24</br>

multiply_nums("54, 75, 453, 0") ➞ 0</br>

multiply_nums("10, -2") ➞ -20</br>

In [6]:
def multiply_nums(string_data):
    list_values = [int(i) for i in string_data.split(",")]
    result = 1
    for i in list_values:
        result*=i
    return result
print(f'product: {multiply_nums("2, 3")}')
print(f'product: {multiply_nums("1, 2, 3, 4")}')
print(f'product: {multiply_nums("54, 75, 453, 0")}')
print(f'product: {multiply_nums("10, -2")}')

product: 6
product: 24
product: 0
product: -20

Question 3</br>
Create a function that squares every digit of a number.</br>
Examples</br>
square_digits(9119) ➞ 811181</br>

square_digits(2483) ➞ 416649</br>

square_digits(3212) ➞ 9414</br>
Notes</br>
The function receives an integer and must return an integer.</br>

In [7]:
def square_digits(number):
    data = str(number)
    modified_data = ""
    for i in data:
        modified_data += str(int(i)**2)

    return int(modified_data)

print(f"square digits of 9119: {square_digits(9119)}")
print(f"square digits of 2483: {square_digits(2483)}")
print(f"square difits of 3212: {square_digits(3212)}")

square digits of 9119: 811181
square digits of 2483: 416649
square difits of 3212: 9414

Question 4</br>
Create a function that sorts a list and removes all duplicate items from it.
Examples</br>
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
</br>
setify([4, 4, 4, 4]) ➞ [4]
</br>
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
</br>
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]
</br>

In [8]:
def setify(list_data):
    return set(list_data)

print(f"unique values from list: {setify([1, 3, 3, 5, 5])}")
print(f"unique values from list: {setify([4, 4, 4, 4])}")
print(f"unique values from list: {setify([5, 7, 8, 9, 10, 15])} ")
print(f"unique values from list: {setify([3, 3, 3, 2, 1])}")

unique values from list: {1, 3, 5}
unique values from list: {4}
unique values from list: {5, 7, 8, 9, 10, 15}
unique values from list: {1, 2, 3}

Question 5</br>
Create a function that returns the mean of all digits.</br>
Examples</br>
mean(42) ➞ 3</br>
</br>
mean(12345) ➞ 3</br>

mean(666) ➞ 6</br>
Notes</br>
    • The mean of all digits is the sum of digits / how many digits there are</br> (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
    • The mean will always be an integer.

In [9]:
def mean(number):
    count = 0
    sum = 0
    for i in str(number):
        sum+=int(i)
        count+=1
    return round(sum/count)
print(f"mean 42 is {mean(42)}")
print(f"mean 12345 is {mean(12345)}")
print(f"mean 666 is {mean(666)}")

mean 42 is 3
mean 12345 is 3
mean 666 is 6