Question1</br>
Create a function that takes a list of strings and integers, and filters out </br>the list so that it returns a list of integers only.</br>
Examples</br>
filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]</br>

filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]</br>

filter_list(["Nothing", "here"]) ➞ []</br>

In [3]:
def filter_list(list_values):
    integer_list = []
    for i in list_values:
        if type(i) == int:
            integer_list.append(i)
    
    return integer_list
print(f' [1, 2, 3, "a", "b", 4] => {filter_list([1, 2, 3, "a", "b", 4])}')
print(f' ["A", 0, "Edabit", 1729, "Python", "1729"] => {filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])}')
print(f' ["Nothing", "here"] => {filter_list(["Nothing", "here"])}')

 [1, 2, 3, "a", "b", 4] => [1, 2, 3, 4]
 ["A", 0, "Edabit", 1729, "Python", "1729"] => [0, 1729]
 ["Nothing", "here"] => []

Question2</br>
Given a list of numbers, create a function which returns the list but with each </br>element's index in the list added to itself. This means you add 0 to the </br>number at index 0, add 1 to the number at index 1, etc...</br>
Examples</br>
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]</br>

add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]</br>

add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]</br>

In [ ]:
def add_indexes(list_values):
    modified_list = []
    for i in range(len(list_values)):
        modified_list.append(list_values[i]+i)
    
    return modified_list

print(f' [0, 0, 0, 0, 0] => {add_indexes([0, 0, 0, 0, 0])}')
print(f' [1, 2, 3, 4, 5] => {add_indexes([1, 2, 3, 4, 5])}')
print(f' [5, 4, 3, 2, 1] => {add_indexes([5, 4, 3, 2, 1])}')

Question3</br>
Create a function that takes the height and radius of a cone as arguments and </br>returns the volume of the cone rounded to the nearest hundredth. See the </br>resources tab for the formula.</br>

Examples</br>
cone_volume(3, 2) ➞ 12.57</br>

cone_volume(15, 6) ➞ 565.49</br>

cone_volume(18, 0) ➞ 0</br>

In [4]:
from math import pi

def cone_volume(height, radius):
    return round(pi * (radius**2) *(height/3), 2)
print(f'height: 3, radius 2: Cone Volume: {cone_volume(3, 2)}')
print(f'height: 15, radius 6: Cone Volume: {cone_volume(15, 6)}')
print(f'height: 18, radius 0: Cone Volume: {cone_volume(18, 0)}')

height: 3, radius 2: Cone Volume: 12.57
height: 15, radius 6: Cone Volume: 565.49
height: 18, radius 0: Cone Volume: 0.0

Question4</br>
This Triangular Number Sequence is generated from a pattern of dots that form a</br> triangle. The first 5 numbers of the sequence, or dots, are: </br>
1, 3, 6, 10, 15</br>
This means that the first triangle has just one dot, the second one has three </br>dots, the third one has 6 dots and so on.</br>
Write a function that gives the number of dots with its corresponding triangle number of the sequence.</br>
Examples</br>
triangle(1) ➞ 1</br>

triangle(6) ➞ 21</br>

triangle(215) ➞ 23220</br>

In [8]:
def triangle(n):
    return round(n*(n+1)/2)

print(f' 1st triangle has {triangle(1)} dots ')
print(f' 6th triangle has {triangle(6)} dots ')
print(f' 215th triangle has {triangle(215)} dots ')

 1st triangle has 1 dots
 6th triangle has 21 dots
 215th triangle has 23220 dots

Question5</br>
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.</br>
Examples:</br>
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5</br>

missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10</br>

missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7</br>

In [10]:
def missing_num(list_values):
    for i in range(1, 11):
        if i not in list_values:
            return i
print(f' missing number is : {missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])}')
print(f' missing number is : {missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])}')
print(f' missing number is : {missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])}')

 missing number is : 5
 missing number is : 10
 missing number is : 7