1. Write a Python program to convert kilometers to miles?

In [4]:
import pyinputplus

#kilometeres in miles.
one_km = 0.621371 

km = pyinputplus.inputFloat("Enter the Km: ")
print("{0}km == {1} miles: ".format(km, round((km*one_km),4)))

Enter the Km: 5
5.0km == 3.1069 miles:

2. Write a Python program to convert Celsius to Fahrenheit?

In [11]:
#one celsius in fahrenheit
one_celsius = 32
celsius = pyinputplus.inputFloat("Enter the Celsius Value: ")
fahrenheit =  round(one_celsius+(celsius*(9/5)), 4)
print("{0} Celsius = {1} Fahrenheit".format(celsius,fahrenheit))

Enter the Celsius Value: dfd
'dfd' is not a float.
Enter the Celsius Value: df
'df' is not a float.
Enter the Celsius Value: 123
123.0 Celsius = 253.4 Fahrenheit

3. Write a Python program to display calendar?

In [18]:
import calendar

def show_calendar(year):
    return calendar.calendar(year)
print(show_calendar(pyinputplus.inputInt("Please enter a year: ")))

Please enter a year: 2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

4. Write a Python program to solve quadratic equation?

In [24]:

def quadratic_equation(a, b, c):
    try:
        desc = (b*b)- (4*a*c)
        
        if desc == 0:
            x1 , x2 = -b/(2 *a), -b/(2 *a)
            print("Roots are real and equal")
        elif desc> 0:
            print("Roots are real and different")
            x1 = round((-b + (desc)**(1/2))/(2*a), 4)
            x2 = round((-b - (desc)**(1/2))/(2*a), 4)

        else:
            print("Roots are imaginary and different")
            x1 = (-b + (desc)**(1/2))/(2*a)
            x2 = 5(-b - (desc)**(1/2))/(2*a)

        return x1, x2
    except ZeroDivisionError:
        print(ZeroDivisionError)


a = pyinputplus.inputFloat("Enter the a value: ")
b = pyinputplus.inputFloat("Enter the b value: ")
c = pyinputplus.inputFloat("Enter the c value: ")
print(quadratic_equation(a, b, c))

Enter the a value: 4
Enter the b value: 12
Enter the c value: 2
Roots are real and different
(-0.1771, -2.8229)

5. Write a Python program to swap two variables without temp variable?

In [25]:
a = input("Enter any data: ")
b = input("Enter any data: ")
print("Before Swapping a = {0}, b = {1}".format(a, b))
a, b = b, a
print("After Swapping a = {0}, b = {1}".format(a, b))

Enter any data: sample1
Enter any data: sample2
Before Swapping a = sample1, b = sample2
After Swapping a = sample2, b = sample1